
$mdc-theme-primary: #374046;
$mdc-theme-secondary: #607D8B;
$mdc-theme-background: #FFFF;
$mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);

@import '@material/typography/mdc-typography';
@import "@material/theme/mdc-theme";

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}


.mdc-drawer--dismissible {
  top: auto;
}

.mdc-drawer .mdc-list--two-line .mdc-list-item {
  height: 72px;
}